@use "./root";
@use "./reset";

// html {
//   background-color: var(--main-background);
// }

// .error {
//   color: var(--color-red);
// }

// .color-blue {
//   color: var(--color-blue);
// }

.btn {
  @apply rounded-lg text-white text-sm font-bold;

  background-color: var(--ui-color);

  &.bg-grey {
    background-color: var(--grey-color);
  }

  &.bg-red {
    background-color: var(--red-color);
  }
}

.border-color-ui {
  border-color: var(--ui-color);
}

.text-ui {
  color: var(--ui-color);
}

.text-ui-2 {
  color: var(--ui-color-2);
}

.text-red {
  color: var(--red-color);
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}
